{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

<div class='error'>{{ error}}</div>

<form action = '/login' method = 'post'>
    <table>
        <tr>
            <td><label>Username</label></td>
            <td>
                <input type='text' name='username' value='{{USERNAME_INPUT}}'/>
            </td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td>
                <input type='password' name='password' />
            </td>
        <tr>
    </table>
    <input type="submit" value="Submit Query">
</form>

<p>
    Don't have an account?
    <a href='/signup'>Create one!</a>
</p>

{% endblock %}
